# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_TOKEN=
SANITY_REVALIDATE_TOKEN=

# Email Service (Resend)
RESEND_API_KEY=

# Contact Form Configuration
CONTACT_EMAIL=
